body {
    color: black;
    background-colo-r: rgb(0, 0, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 100px;
}

header {
    background-color: darkorange;
    text-align: center;
    font-size: 32px;
    padding: 10px;
    border-bottom: solid 2px black;
}

.primeirovideo{
    background-color: orange;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamadatexto {
    margin-right: 20px;
    margin-left: 10px;
    text-align: justify;
}

h1 {
    font-size: 40px;
    margin-left: 150px;
}

p {
    font-size: 20px;
}

.videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.outrosvideos {
    padding-left: 20px;
    padding-right: 20px;
}

.videos img {
    opacity: 0.8;
    height: 150px;
}

.videos img:hover {
    opacity: 1.0;
    border: 2px solid green;
}