body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

header {
    background-color: darkorange;
    text-align: center;
    font-size: 32px;
    padding: 10px;
    border-bottom: solid 2px black;
}

.primeirovideo{
    background-color: orange;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamadatexto {
    margin-left: 20px;
    margin-left: 10px;
    text-align: justify;
}

h1 {
    font-size: 30px;
    margin-right: 100px;
    text-align: justify;
}

p {
    font-size: 20px;
}